.crypto-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .crypto-list-item {
    text-align: center;
    img {
      max-width: 200px;
      max-height: 250px;
    }
    h4 {
      margin: 0;
      font-weight: 500;
    }
    p {
      margin: 0;
    }
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
      box-shadow: 1px 1px 20px rgba(120, 120, 120, 0.3);
    }
  }
  
  .list-title {
    text-align: center;
    margin: 2em auto;
  }
  